-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "banking";

-- CreateEnum
CREATE TYPE "banking"."TransactionType" AS ENUM ('credit', 'debit');

-- CreateEnum
CREATE TYPE "banking"."TransactionMode" AS ENUM ('UPIT', 'NEFT', 'RTGS', 'CSHD', 'CSHW', 'CHEQ', 'CARD');

-- CreateEnum
CREATE TYPE "banking"."TransactionStatus" AS ENUM ('pending', 'success', 'failed', 'reversed');

-- CreateEnum
CREATE TYPE "banking"."GoalType" AS ENUM ('SPEND_LIMIT', 'CATEGORY_LIMIT', 'REMINDER');

-- CreateEnum
CREATE TYPE "banking"."GoalFrequency" AS ENUM ('DAILY', 'WEEKLY', 'MONTHLY', 'CUSTOM', 'RECURRING');

-- CreateEnum
CREATE TYPE "banking"."ReminderFrequency" AS ENUM ('MONTHLY', 'QUARTERLY', 'HALFYEARLY', 'YEARLY', 'CUSTOM');

-- CreateTable
CREATE TABLE "banking"."Role" (
    "roleId" SERIAL NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "Role_pkey" PRIMARY KEY ("roleId")
);

-- CreateTable
CREATE TABLE "banking"."User" (
    "userId" SERIAL NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "city" TEXT,
    "address" TEXT,
    "pincode" TEXT,
    "phoneNo" TEXT NOT NULL,
    "roleId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastLogin" TIMESTAMP(3),

    CONSTRAINT "User_pkey" PRIMARY KEY ("userId")
);

-- CreateTable
CREATE TABLE "banking"."Account" (
    "accountId" SERIAL NOT NULL,
    "accNo" TEXT NOT NULL,
    "acctype" TEXT NOT NULL,
    "balance" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "userId" INTEGER NOT NULL,
    "branchId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Account_pkey" PRIMARY KEY ("accountId")
);

-- CreateTable
CREATE TABLE "banking"."Transaction" (
    "transactionId" BIGSERIAL NOT NULL,
    "accountId" INTEGER NOT NULL,
    "accNo" TEXT NOT NULL,
    "branchId" INTEGER NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "trxtype" "banking"."TransactionType" NOT NULL,
    "mode" "banking"."TransactionMode" NOT NULL,
    "status" "banking"."TransactionStatus" NOT NULL,
    "narration" TEXT NOT NULL,
    "refNo" TEXT NOT NULL,
    "fromTo" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Transaction_pkey" PRIMARY KEY ("transactionId")
);

-- CreateTable
CREATE TABLE "banking"."Branch" (
    "branchId" SERIAL NOT NULL,
    "city" TEXT NOT NULL,
    "ifscCode" TEXT NOT NULL,
    "address" TEXT NOT NULL,

    CONSTRAINT "Branch_pkey" PRIMARY KEY ("branchId")
);

-- CreateTable
CREATE TABLE "banking"."UserGoal" (
    "goalId" SERIAL NOT NULL,
    "userId" INTEGER NOT NULL,
    "goalType" "banking"."GoalType" NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3),
    "frequency" "banking"."GoalFrequency" NOT NULL,
    "limitAmount" DOUBLE PRECISION,
    "categoryName" TEXT,
    "violationCount" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UserGoal_pkey" PRIMARY KEY ("goalId")
);

-- CreateTable
CREATE TABLE "banking"."GoalViolation" (
    "violationId" SERIAL NOT NULL,
    "goalId" INTEGER NOT NULL,
    "transactionId" BIGINT NOT NULL,
    "attemptedAmount" DOUBLE PRECISION NOT NULL,
    "exceededBy" DOUBLE PRECISION NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "GoalViolation_pkey" PRIMARY KEY ("violationId")
);

-- CreateTable
CREATE TABLE "banking"."PaymentReminder" (
    "reminderId" SERIAL NOT NULL,
    "userId" INTEGER NOT NULL,
    "displayName" TEXT NOT NULL,
    "accountNumber" TEXT NOT NULL,
    "frequency" "banking"."ReminderFrequency" NOT NULL,
    "scheduleJson" JSONB NOT NULL,
    "nextTriggerAt" TIMESTAMP(3) NOT NULL,
    "lastTriggeredAt" TIMESTAMP(3),
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PaymentReminder_pkey" PRIMARY KEY ("reminderId")
);

-- CreateIndex
CREATE UNIQUE INDEX "Role_name_key" ON "banking"."Role"("name");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "banking"."User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Account_accNo_key" ON "banking"."Account"("accNo");

-- CreateIndex
CREATE UNIQUE INDEX "Account_accountId_accNo_key" ON "banking"."Account"("accountId", "accNo");

-- CreateIndex
CREATE UNIQUE INDEX "Branch_ifscCode_key" ON "banking"."Branch"("ifscCode");

-- CreateIndex
CREATE INDEX "UserGoal_userId_idx" ON "banking"."UserGoal"("userId");

-- CreateIndex
CREATE INDEX "GoalViolation_goalId_idx" ON "banking"."GoalViolation"("goalId");

-- CreateIndex
CREATE INDEX "GoalViolation_transactionId_idx" ON "banking"."GoalViolation"("transactionId");

-- CreateIndex
CREATE INDEX "PaymentReminder_userId_idx" ON "banking"."PaymentReminder"("userId");

-- AddForeignKey
ALTER TABLE "banking"."User" ADD CONSTRAINT "User_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES "banking"."Role"("roleId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "banking"."Account" ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES "banking"."User"("userId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "banking"."Account" ADD CONSTRAINT "Account_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "banking"."Branch"("branchId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "banking"."Transaction" ADD CONSTRAINT "Transaction_accountId_accNo_fkey" FOREIGN KEY ("accountId", "accNo") REFERENCES "banking"."Account"("accountId", "accNo") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "banking"."Transaction" ADD CONSTRAINT "Transaction_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES "banking"."Branch"("branchId") ON DELETE RESTRICT ON UPDATE CASCADE;

